.body {
  background-color: $grey_bg;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  position: relative;
  &__container {
    @include mar;
  }
  &__link-box {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }
  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    @include pink-text;
    padding-bottom: 40px;
  }
  &__article {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $blue;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  &__date {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: $color_grey;
    padding-bottom: 20px;
    border-bottom: 4px solid #e6e6f0;
  }
  &__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: black;
    padding-bottom: 21px;
    padding-top: 20px;
  }
  &__text-block {
    display: flex;
    flex-direction: column;
    padding-left: 21px;
    padding-right: 20px;
  }
  &__card {
    background-color: $default_color;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 40px;
  }
  &__card-box {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 40px;
    height: 720px;
    overflow: hidden;
    position: relative;
  }
  &__card-pic {
    max-width: 100%;
    display: block;
    width: auto;
  }
}
