.services {
  &_banner {
    background: linear-gradient(
        180deg,
        rgba(50, 50, 100, 0.1) 0%,
        #323264 100%,
        #643e72 87.46%
      ),
      url("/main/images/Icons/Ecommerce.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    margin-bottom: 80px;
    @include mmax(992) {
      padding-top: 220px;
    }
  }
  &_nav {
    color: rgba(255, 255, 255, 0.5);
    &::after {
      content: "";
      border: solid rgba(255, 255, 255, 0.5);
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      position: absolute;
      top: 4px;
      right: -10px;
      z-index: 1;
    }
  }
  &_header {
    margin-bottom: 68px;
    @include mmax(768) {
      margin-bottom: 40px;
    }
  }
  &_head {
    max-width: 861px;
    margin: 0 auto;
    padding-bottom: 80px;
    text-align: center;
    position: relative;
    .btn__blue {
      position: absolute;
      bottom: -5%;
      left: 0;
      right: 0;
      z-index: 1;
    }
    .title_gradient {
      margin-bottom: 20px;
    }
  }
  &_link {
    display: inline-flex;
    width: 92px;
    height: 92px;
    padding: 14px;
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 24px;
    margin-bottom: 20px;
  }
  .wrapper {
    @include mmax(1199) {
      justify-content: space-evenly;
    }
    &_itm {
      &:not(:nth-child(2n + 4)):not(:nth-child(5)) {
        margin-bottom: 40px;
      }
    }
  }
  &_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: $white;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 4px solid rgba(255, 255, 255, 0.5);
  }
  &_list {
    display: block;
    columns: 2;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: $white;
    @include mmax(992) {
      columns: 1;
    }
    li {
      position: relative;
      margin-bottom: 20px;
      &::before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $red;
        position: absolute;
        top: 50%;
        left: -14px;
        z-index: 1;
      }
    }
  }
}
